<div id="servicos">
        <div class="card" id="consultoria">
            <div class="cordocard">
                <h1 align="center" class="titulodocard">Consultoria em Gestão</h1>
                <h2 align="center" class="textodocard">A consultoria em gestão analisa as condições financeiras, processuais, a estratégia e a gestão da empresa.</h2>
            </div>
        </div>
        <div class="card" id="treinamento">
            <div class="cordocard">
                <h1 align="center" class="titulodocard">Treinamento Profissional e Gerencial</h1>
                <h2 align="center" class="textodocard">Lorem ipsum cubilia adipiscing ornare consequat condimentum sem, ad praesent eget fermentum eros aliquam, euismod a potenti</h2>
            </div>
        </div>
        <div class="card" id="coach">
            <div class="cordocard">
                <h1 align="center" class="titulodocard">Coach Pessoal, Profissional e Empresarial</h1>
                <h2 align="center" class="textodocard">Lorem ipsum cubilia adipiscing ornare consequat condimentum sem, ad praesent eget fermentum eros aliquam, euismod a potenti</h2>
            </div>
        </div>
        <div class="card" id="webdesign">
            <div class="cordocard">
                <h1 align="center" class="titulodocard">Web Design</h1>
                <h2 align="center" class="textodocard">Lorem ipsum cubilia adipiscing ornare consequat condimentum sem, ad praesent eget fermentum eros aliquam, euismod a potenti</h2>
            </div>
        </div>
</div>

