/*
    cor do infinito #cec4dd
    fundo branco #fbf9fc 
*/
#quemsomos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Century Gothic';

}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../../assets/infinitoOpacidade.png");
    background-position: center;
    background-repeat: no-repeat;
}
#quemsomos p {
    width: 90%;
    margin: 0 auto;
    text-align: justify;
}
.clientes
{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}
.nossosclientes{
    text-align: center;
    font-family: 'Century Gothic';
}
@media only screen and (min-width: 700px) {
    #quemsomos {
        height: 600px;
        font-size: 22px;
    }
    .text {
        height: 90%;
        background-size: 60%;
    }
  
    .clientes img {
        width: 150px;
        margin: 30px;
    }
    .nossosclientes{
        font-size: 22px;
    }
}
@media only screen and (max-width: 699px) {
    #quemsomos {
        height: 400px;
    }
    .text {
        height: 70%;
        background-size: 85%;
    }
    .clientes img {
        width: 70px;
        margin: 10px;
    }
}