<div id="quemsomos">
  <div class="text">
      <h2>Quem Somos</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Praesent tempus erat ac sem dapibus, eget tincidunt sem congue. Sed est lectus, pretium sit amet lacinia non, venenatis id turpis. Morbi quis justo eu leo commodo accumsan. Cras semper, urna non elementum cursus, nibh ligula ultricies ante, vitae blandit lorem mauris id lectus. 
        Fusce rutrum urna augue, eget auctor orci venenatis in. Morbi sed finibus quam. Duis sed nulla vitae odio molestie euismod et vehicula neque. Vivamus mattis enim in magna. </p>
    </div>
</div>
<div class="nossosclientes">
    <h2>Nossos clientes</h2>
		<div class="clientes">
				<img src="../../../assets/novonordisk.png">	
				<img src="../../../assets/gruposimoes.png">	
				<img src="../../../assets/grupojb.png">		
				<img src="../../../assets/getid.png">	
				<img src="../../../assets/flora.png">				
				<img src="../../../assets/cocacola.jpg">	
				<img src="../../../assets/canal.png">	
				<img src="../../../assets/alcoolquimica.png">	
		</div>
</div>
