<div class="navbar">
  <div class="imagediv">
    <img src="../../../assets/logotools.png"/>
  </div>
  <ul class="listadesktop">
    <li>Quem Somos</li>
    <li>Serviços</li>
    <li>Contato</li>
  </ul>
  <nav role="navigation">
    <div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <a href="#quemsomos"><li>Quem Somos</li></a>
        <a href="#servicos"><li>Serviços</li></a>
         <a href="#contato"><li>Contato</li></a>
      </ul>
    </div>
  </nav>
</div>
