.cordobanner {
	background-color: rgba(41,22,111,0.7);    /*#29166f*/
}
.banner {
    background-image: url("./../../../assets/background.png");
    box-sizing: border-box;
    background-position: center center;
}
.chamada {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    color:white;
    font-family: "Century Gothic";
    transition: font-size 2s width 2s;
}

@media only screen and (min-width: 700px) {
    .banner {
        height: 500px;
        background-size: cover;
    }
    .chamada {
        width:70%;
        margin: 0 auto;
        font-size: 35px;
        transition: 1s;
    }
    .chamada:hover{
        font-size: 40px;
        cursor: pointer;
        width:90%;
    }
}
@media only screen and (max-width: 699px) {
    .banner {
        height:500px;
    }
    .chamada {
        width: 90%;
        margin: 0 auto;
        font-size: 25px;
        transition: 1s;
    }
    .chamada:hover {
        font-size: 27px;
    }
}