#contato {
    font-family: 'Century Gothic';
    width: 100%;
    display:flex;
    background-color: #1f1a17;
    color:#fbf9fc;
}
.endereco, .redes, .faleconosco {
    padding:10px 30px;
}
.text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.endereco p{
    width: 100%;
    margin: 0;
}
.endereco img, .redes img {
    width: 30px;
    color:#fbf9fc;
    margin-right: 20px;
}
.redes p {
    width: 100%;;
    text-align: left;
    margin:0;
    height: 100%;
}
.redes p a {
    color:#fbf9fc;
    text-decoration: none;
    transition: 1s;
}
.redes p a:hover {
    font-size: 110%;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
form input, form textarea {
    width: 100%;
    margin: 5px;
}
form textarea {
    resize: none;
}
form input::placeholder, form textarea::placeholder, form input, form textarea{
    font-family: 'Century Gothic';
}
form button {
    background-color: #29166f;
    border:none;
    width: 120px;
    height: 40px;
    margin: 10px;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Century Gothic';
    font-weight: bolder;
    color: #fbf9fc;
    transition: 1s;
}
form button:hover {
    width: 130px;
    height: 50px;
}
@media only screen and (min-width: 700px) {
    #contato {
        flex-direction: row;
    }
    .faleconosco {
        width: 40%;
    }
    form input, form textarea {
        height: 40px;
        border-radius: 10px;
    }
    form textarea {
        height: 320px;
    }
    form input::placeholder, form textarea::placeholder, form input, form textarea{
        font-size: 25px;
    }
}
@media only screen and (max-width: 699px) {
    #contato {
        flex-direction: column;
        padding: 40px 0;
    }
    form input, form textarea {
        height: 30px;
        border-radius: 5px;
    }
    form textarea {
        height: 200px;
    }
    form input::placeholder, form textarea::placeholder, form input, form textarea{
        font-size: 20px;
    }
}